

/* Header nav start */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    /* border: 1 px solid red; */
   
}
.Logoinfo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.Menu {
    display:flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    
}
.Menu li a  {
    text-decoration: none;
    margin : 1rem;
}
/* Header nav end */
/* Hero start */

.herocontainer {
    display:flex;
    width :100%;
      
}
.hero {
    /* border: 1px solid red; */
    width : 100%;
    background-color: darkgrey;
}
.heroimg img {
    /* margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem; */
    width: 100%;

}
.heroinform {
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem;
    width: 40%;
   
}
.heroinform a.Starthere {
    background-color:#505757 ;
    color: white;
    height: 2.5rem;
    text-decoration: none;
    
    padding-top: 1rem; 
    font-size: 1.2rem;  
    width : 5rem;
    display:flex;
    justify-content: center;

}
.heroinform p {
    font-size: 1.3rem;
}
/* hero end */
/* information start */
.banner img {
    width : 60%;
}
.information {
    display:flex;
    background-color: lightgray;
    margin-top: 2rem;
    margin-bottom: 2rem;
    /* border: 1px solid red */
}
.information .practice img {
    padding: 1rem;
    width :100%
}
.information .practice {
    padding :1rem;
    
} 
.practice {
    
    display:flex;
    flex-direction: column;
    justify-content:space-around;
    width: 60%;
}
.detail {
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    
}
.detail .item1 {
    /* border: 1px solid red; */
    display:flex;
    align-items: center;
}
.detail .item1 .itemc {
    padding-left: 1rem;
}
.detail .item2 {
    display:flex;
    align-items: center;
}
.detail .item2 .itemc2 {
    padding-left: 1rem;
}
.detail .item3 {
    display:flex;
    align-items: center;
}
.detail .item3 .itemc3 {
    padding-left: 1rem;
}
.Readmore-btn {
    text-decoration: none;
}
/* information end */

/* Course start */
.container {
   display:grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap : 2rem;
   background-color:lightgray;
}
section {
    display:flex;
    flex-direction: column;
    align-items: center;
}


/* course end */

/* thesis start */
.thesis {
    display:flex;
    
}
.thesis .thesisL {
    width: 60%;
    /* border: 1px solid red; */
}

 .thesisR  {
    display:flex;
    flex-direction: column;
}
.fisma {
    display:flex;
    flex-direction: row;
}
.nowandthen {
    display:flex;
    
}

/* thesis end */

/* footer start */
.footN {
    display:flex;
    
}

/* footer end */

@media screen and (max-width : 480px) 
  {
    .Menu li a.Oncampus {
        content :url(images/ic-on-campus.svg);
    }
    .Menu li a.Online {
        content :url(images/ic-online.svg);
    }
    .Menu li a.orcompanies {
        content :url(images/ic-online.svg);
    }
    .Menu li a.Signin {
        content :url(images/ic-login.svg)
    }
    .herocontainer {
        display:flex;
        flex-direction: column;
        width : 100%;
    }
    .hero {
        width : 100%;
    }
    .heroinform {
        width :100%;
       
    }
    .heroinform a.Starthere {
        width :90%
    }
    .detail {
        width : 100%;
        display:flex;
        flex-direction: column;
        justify-content: center;
    }
    .practice {
        display :none;
    } 
    
    .container-course p, .container-course img {
        display:none;

    }
    .container-course h4 {
        display:none;
    }
    .container-course h1 {
        display:block;
    }
    .container-course {
        display :flex;
        flex-direction: column;
        justify-content: center;
    }
    .thesisL {
        width :100%;
        /* border : 1px solid red; */
    }
    .thesisR {
        display: none;
    }
    .thesisL h1 , .thesisL p {
        display: none;

    }
    .footN ul {
        display: none;
    }
    }
    